.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.container {
  z-index: 10;
  height: calc(100% - 80px - 25px - 15px);
  width: calc(100% - 80px);
  max-width: 250px;
  position: relative;
  left: 40px;
  top: 40px;
  pointer-events: auto; 
  padding: 25px 15px 15px 15px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.glass {
  background: rgba(160, 160, 160, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.escape-button {
  position: absolute;
  top: 10px;
  left: 10px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  opacity: 0.9;
  transition: transform 200ms;
}

.escape-button:hover {
  transform: scale(1.1);
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.title {
  display: block;
  font-size: 27px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.medium-title {
  font-size: 20px;
}

.imaginary {
  font-family: 'Aref Ruqaa', serif;
  font-size: 20px;
}

.point-button {
  width: 17px;
  height: 17px;
  display: inline-flex;
  justify-content: center;
  user-select: none;
  transform: translateY(2px);
}

.add-point-button {
  margin-left: 10px;
}

.remove-point-button {
  margin-right: 10px;
}

li {
  list-style: none;
  margin-left: 20px;
}

li::before {
  content: "\2022";
  display: inline-block;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
  color: var(--point-color);
}

.section {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
}

.radio-button-container {
  margin-top: 10px;
}

.radio-button {
  margin-top: 10px;
  display: block;
  user-select: none;
  cursor: pointer;
}

.radio-mark {
  width: 13px;
  height: 13px;
  margin-right: 12px;
  transform: translateY(1px);
}