.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.gl-canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  image-rendering: pixelated;
}